.sidebar {
    width: 250px;
    background: rgba(255, 255, 255, 0.1); /* Vitré */
    backdrop-filter: blur(10px); /* Effet flou */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100vh;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .switch-container {
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 55px;
    background-color: #2196F3;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .4s;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 30px;
    transition: transform .4s;
  }
  
  .slider:before {
    content: "🤖";
    position: absolute;
    justify-content: center;
    top: 5.5px;
    font-size: 24px;
    transition: opacity .4s;
  }
  
  .slider:after {
    content: "🧑";
    position: absolute;
    justify-content: center;
    top: 5.5px;
    font-size: 24px;
    transition: opacity .4s;
  }
  
  input:checked + .switch {
    background-color: #4CAF50;
  }

  input:checked + .slider {
    transform: translateX(50px);
  }
  
  input:checked + .slider:before {
    opacity: 0;
  }
  
  input:not(:checked) + .slider:after {
    opacity: 0;
  }
  